.App{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex:0.9;
    /* height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
}

main > .main{
    flex:0.8
}

main > .sidebar{
    flex:0.2
}

footer{
    flex:0.1;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover{
    transform: scale(1.05);
    transition-duration: 1s;
}

.card-body{
    color: black;
    text-decoration: none;
}


/* filter css */

.filter{
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
    padding: 15px;
}