.App{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex:0.9;
    /* height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
}

main > .main{
    flex:0.8
}

main > .sidebar{
    flex:0.2
}

footer{
    flex:0.1;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* products */

/* .products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.product-item {
    flex:1
} */

.card:hover{
    transform: scale(1.05);
    transition-duration: 1s;
}

.card-body{
    color: black;
    text-decoration: none;
}